* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #3B0B39;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 650px;
    background: #40E0D0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(330, 100%, 50%, 0.603), hsla(33, 100%, 50%, 0.603), hsla(174, 72%, 56%, 0.603)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(330, 100%, 50%, 0.603), hsla(33, 100%, 50%, 0.603), hsla(174, 72%, 56%, 0.603)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    /*Con este hace que la imagen parezco un fondo que core*/
    position: relative;

}


nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>a {
    color: #fff;
    /* las hace más ligeras*/
    font-weight: 300;
    /*Le quita el subrayado*/
    text-decoration: none;
    /*Separa*/
    margin-right: 10Px;
}

nav>a:hover {
    /*cuando pasemos el mouse sobre a*/
    text-decoration: underline;

}

header .textos_header {
    display: flex;
    height: 430px;
    width: 50%;
    align-items: center;
    justify-items: center;
    flex-direction: column-reverse;
    text-align: center;
}

header .textos_header h1 {
    font-size: 50px;
    color: #fff;
}

header .textos_header h2 {
    font-size: 30px;
    font-weight: 300px;
    color: #fff;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 110%;
}

/* About us */

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}


.contenedor-sobre-nosotros .contenido-texto {
    width: 45%;
}

.contenido-texto h3 {
    margin-bottom: 15px;
}

.contenido-texto h3 span {
    background: #ee0c88;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0);
    margin-right: 5px;
}

.contenido-texto p {
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*Galeria */

.portafolio {
    background: #f3c4d8;
}

.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px o rgba(0, 0, 0, .5);
}

.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.hover-galeria img {
    width: 60px;
}

.hover-galeria p {
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/*Clientes*/

.clientes_contenedor{
    background: #e4dcdf;
}

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}    

.card {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px o rgba(0, 0, 0, .5);
}

.card>img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    display: block;
    opacity: 0,01;
    background-color: rgba(red, green, blue, 1)
}